<header class="master-header">
  <div class="header-top">
    <div class="brand">
      <img src="/static/img/Logo.png" class="logo-img" alt="Poddar Tours & Travels logo">
      <div>
        <div class="logo-title">Poddar Tours & Travels</div>
        <div class="tagline">Since 2026</div>
      </div>
    </div>

    <p class="contact-line">
      19A Rabindra Sarani, Liluah, Howrah - 711203 | Contact: 9903254599
    </p>
  </div>

  <nav class="special-nav">
    <a href="/">Home</a>
    <a href="/Tour.html">Tours</a>
    <a href="/Date.html">Date of Journey</a>
    <a href="/Feedback.html">Feedback</a>
    <a href="/rules.html">Rules and Regulations</a>
    <a href="/contactus.html">Contact Us</a>
  </nav>
</header>
