{% extends "base.html" %}
{% load static %}

{% block title %}Java{% endblock %}

{% block content %}
<font size="12" face="Times New Roman" color="green">
        <p>Java is an Object-Oriented Programming (OOP) language. It is platform independent, which means Java programs can run on any operating system that has a Java Virtual Machine (JVM). Java is widely used for developing web applications, mobile applications, desktop software, and enterprise-level systems. Its features like security, robustness, and simplicity make it one of the most popular programming languages in the world.</p> 
        </font>
{% endblock %}
